if locals.messages
  each message in messages
    if message.type == 'error'
      - klass = "alert alert-danger"
    else
      - klass = "alert alert-info"
    div(class=klass)
      =message.string
  - removeMessages()