extends ../layout

block content
  h1= title
  include ../messages.jade

  if pastas.length === 0
    h2 No pasta here, create and share!

  ul
    each pasta in pastas
      li
        a(href='/pastas/' + pasta.id)= pasta.title