extends ../layout

block content
  h1= title
  include ../messages.jade
  form(method='post', action='/users', role='form')
    div.form-group
      label Username
        input.form-control(name='user[name]')
    div.form-group
      label Password
        input.form-control(type='password', name='user[pass]')
    button.btn.btn-primary(type='submit') Register
